/* deleting extra space */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* styling global button */
.cbtn{
    border-radius: 30px;
    font-weight: 500;
    color: #000;
}
.cbtn:hover{
    background: #000;
    color: #fff;
}
.carousel-item img{
    height: 90vh !important;
}
.image{
    height: 400px;
    width: 400px;
}
.tcard{
    border-radius: 30px;
}
.bcard{
    border-radius: 0 0 30px 30px;
}